<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex justify-content-between">
        <h1>Welcome {{loggedUser.first_name}}</h1>
        <div>
            <a href="/">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
        <h1>{{recipe.name}}</h1>
        <div class="border border-1 p-3">
            <p>Description: {{recipe.description}}</p>
            <p>Under 30: {% if recipe.under30 == 1 %}
                Yes
                {% else %}
                No
                {% endif %}
            </p>
            <p>Instruction: {{recipe.instruction}}</p>
            <p>Date Made: {{recipe.dateMade}}</p>

        </div>
    </div>
</body>
</html>