<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav class="bg-dark d-flex justify-content-evenly my-auto">
        <div>
            <a class="text-white btn btn-primary" href="/">Dashboard</a>
            <a class="text-white btn btn-danger" href="/logout">Logout</a>
        </div>
    </nav>
    <div class="w-75 m-auto">
        <h1>The Office</h1>
        <div class="border border-1 p-3">
            <h4>Description:</h4>
            <p>{{recipe.description}}</p>
            <p>Date Made: {{recipe.dateMade}}</p>
            <p>Network: {{recipe.under30}}</p>
            <p>Posted by: {{recipe.first_name}}</p>
        </div>
        <p>Liked by: {{userLikedRecipe|length}}</p>
        <div class="border border-1 p-3">
            {% if recipe.id not in userLikedRecipe %}
            <a href="/sceptic/{{recipe.id}}">Like</a>
            {% endif %}
            {% if recipe.id in userLikedRecipe %}
            <a href="/unsceptic/{{recipe.id}}">Unlike</a>
            {% endif %}            
            {% for user in userLikedRecipe2  %}
            <p>{{user.first_name}} {{user.last_name}}</p>
            {% endfor %}
        </div>
    </div>

</body>
</html>